/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
    height: 75px;
    border: 2px solid black;
}


/*** HEADER STYLE ***/

header > h1 {
    height: 100%;
    width: 25%;
    float: left;
    border: 1px solid coral;
}

header > nav {
    height: 100%;
    width: 50%;
    float: left;
    border: 1px solid coral;
}

header > div {
    height: 100%;
    width: 25%;
    float: left;
    border: 1px solid coral;
}

/*** HERO-MAIN STYLE ***/

