/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
    height: 55px;
    border: 2px solid black;
}

header,
.hero-main,
.feature {
    background: rgb(246, 249, 252);
}

a {
    text-decoration: none;
    color: rgb(53, 70, 88)
}

i {
    color: rgb(53, 70, 88);
}

/********** HEADER STYLE **********/

header > h1 {
    height: 100%;
    width: 25%;
    color: rgb(53, 70, 88);
    font-size: 28px;
    font-weight: 600;
    padding: 12px 0 0 40px;
    float: left;
    border: 1px solid coral;
}

header > nav {
    height: 100%;
    width: 50%;
    float: left;
    border: 1px solid coral;
}

nav ul {
    list-style-type: none;
    padding-left: 120px;
}

nav li {
    float:left;
    padding: 15px;
}

header > div {
    height: 100%;
    width: 25%;
    padding: 8px 40px 0 0;
    float: left;
    border: 1px solid coral;
}

header button {
    background-color:rgb(53, 70, 88);
    padding: 10px 25px;
    border: none;
    float: right;
}

header button a {
    color: white;
    font-weight: 500;
}



/********** HERO-MAIN STYLE ***********/

.hero-main {
    height: 480px;
    border: 2px solid black;
}

.hero-left {
    height: 100%;
    width: 40%;
    padding: 70px 80px 0 70px;
    float: left;
    border: 1px solid coral;
}

.hero-right {
    height: 100%;
    width: 60%;
    float: left;
    border: 1px solid coral;
}

.hero-left span {
    font-weight: 200;
    font-size: 14px;
    color: rgb(158, 171, 185);
}

.hero-left h1 {
    color: rgb(53, 70, 88);
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 15px;
}

.hero-left form input {
    color:rgb(158, 171, 185);
    background-color: rgb(227, 233, 240);
    padding: 10px 80px 10px 20px;
    border: none;

}

.hero-left button {
    padding: 10px 25px;
    background-color:rgb(53, 70, 88);
    border: none;
    
}

.hero-left button a {
    color: white;
}

.hero-left p {
    padding: 25px 80px 0 8px;
    font-size: 18px;
    color: rgb(53, 70, 88);
}


.hero-right img {
    height: 100%;
    width: 100%;
    padding-left: 200px;
}

/********** FEATURE SECTION STYLE **********/

.feature {
    height: 300px;
    color: rgb(53, 70, 88);
    border: 2px solid black;
}

.feature > section {
    height: 100%;
    width: 25%;
    padding: 50px 40px 0 70px;
    float: left;
    border: 1px solid coral;
}

.feature section > i {
    font-size: 22px;
    padding-bottom: 15px;
}

.feature section > h4 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.feature section > p {
    line-height: 1.4;
    padding-bottom: 15px;
}

.feature a {
    font-weight: 600;
}

.feature a i {
    font-size: 12px;
}


/********** INFO SECTION STYLE **********/

.info-section {
    height: 250px;
    border: 2px solid black;
}

