/* Box Model Hack */
* {
     box-sizing: border-box;
   

}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* ======== CODE BELOW ======== */


/****** HEADER *******/

header {
     height: 75px;
     background: #7189a6;
     font-size: 15px;
     font-weight: 900;
}

.left,
.right {
     height: 100%;
     width: 20%;
     padding: 20px;
     float:left;
     /* border: 1px solid coral; */
}

.left ul {
    list-style: none;
}

.left li {
     color: white;
     padding: 10px;
     float: left;
}

.middle {
     height: 100%;
     width: 60%;
     float: left;
     /* border: 1px solid coral; */
}

.middle img {
     padding-left: 50%;
     padding-right: 50%;
     padding-top: 10px;
}

.right > button {
     color: #5f748e;
     padding: 10px;
     border-radius: 5px;
     border-style: none;
}

.right {
     padding-left: 200px;
}


/****** HERO MAIN SECTION *******/

.hero-main {
     height: 550px;
     background-color: #7189a6;
     color: white;
     text-align: center;
     padding: 170px;
     /* border: 2px solid black; */
}

.hero-main > h1 {
     font-size: 70px;
     font-weight: 700;
     padding-bottom: 40px;
}

.hero-main > p {
     font-size: 20px;
     padding-left: 150px;
     padding-right: 150px;
     padding-bottom: 40px;
}


/****** WHY SECTION *******/

.why {
     height: 375px;
     text-align: center;
     padding: 100px;
     /* border: 2px solid coral; */
}

.why > h3 {
     font-size: 40px;
     padding-bottom: 20px;

}

.why > p {
     font-size: 20px;
     padding: 0 350px 0 350px;
}


/****** VISIT SECTION *******/

.visit {
     height: 625px;
     /* border: 2px solid black; */
}


.visitgym,
.visityou {
     height: 100%;
     width: 50%;
     /* padding: 100px; */
     background-color: #ededede9;
     /* border: 1px solid coral; */
     float: left;
}

/* separate code for box1 and box2 so they can sit close to each other - maybe float right and float left with margin in between */

.box1 {
     margin-top: 100px;
     margin-left: 395px;
     margin-right: 50px;
     float: right;
}

.box2 {
     margin-top: 100px;
     margin-right: 395px;     
     margin-left: 50px;
     float: left;
}


.bluebox {
      height: 200px;
      width: 350px;
      margin-bottom: 30px;
      background-color: #7189a6;
      border: 2px solid #7189a6;
}

.visit h4 {
     font-size: 22px;
     font-weight: 900;
     /* margin-left: 100px; */
     text-align: center;
     margin-bottom: 30px;
}

.visit p {
     font-size: 18px;
     margin-bottom: 30px;
     text-align: center;
}

.btn {
     text-align: center;
     margin-left: 90px;
     width: 165px;
     padding: 18px;
     font-weight: bold;
     border: 1px solid gray;
}

.btn a {
     color: black;
     text-decoration: none;
}

/* .btn:hover {
    background-color: #7189a6; 
} */

.visit .btn a:hover {
     color: #7189a6;
}

/****** VOLUNTEER SECTION *******/

.volunteer {
     height: 550px;
     text-align: center;
     padding: 160px;
     /* border: 2px solid coral; */
}


.volunteer > h3 {
     font-size: 40px;
     padding-bottom: 40px;

}

.volunteer > p {
     font-size: 20px;
     padding: 0 350px 0 350px; 
     margin-bottom: 40px;
}

.volunteer > .btn {
     margin-right: 90px;
     background-color: white;
}

.btn a {
     color: black;
     text-decoration: none;
}
/* 
.volunteer .btn:hover {
    background-color: #ededede9;
} */

.volunteer .btn a:hover {
     color: #7189a6;
}

/****** INFO SECTION *******/

.info {
     height: 200px;
     background-color: black;
     border: 2px solid black;
}

.nav-left {
     height: 100%;
     width: 18%;
     padding-left: 10px;
     padding-top: 20px;
     border: 1px solid coral;
     float: left;
}

.location-right {
     height: 100%;
     width: 18%;
     border: 1px solid coral;
     float: right;
}

.icons {
     margin-right: 25px;
     float: left;
     border: 1px solid coral;
}

.icons > ul li {
     padding: 10px;
     float: left;
     border: 1px solid coral;
}


.sitemap > span, .sitemap > ul li {
     /* padding: 5px 10px 5px 10px; */
     float: left;
     /* border: 1px solid coral; */
}

.contribute > span, .contribute > ul li {
     /* padding: 5px 10px 5px 10px; */
     float: left;
     /* border: 1px solid coral; */
}

div > span {
     padding: 15px 10px 0 10px;
     margin-right: 150px;
     font-size: 14px;
     font-weight: 900;
}

div > ul li {
     padding: 5px 10px;
     font-size: 14px;
     font-weight: 900;
}

.location-right {
     padding: 40px 80px 0 5px;
}

.location-right > span {
     padding: 10px 10px 10px 0px;
     font-size: 14px;
     font-weight: 900;
     float: left;
}

.location-right > .address p {
     font-size: 14px;
     font-style: normal;
     padding: 2px;
}

.info > .location-right > span {
     color: gray;
}

.email {
     color: gray;
}





/* COLOR STYLE FOR INFO/FOOTER SECTION BELOW */

.nav-left,
.location-right,
footer {
     color: white;
}

.nav-left span {
     color: gray;
}

.info a {
     text-decoration: none;
     color: white;
}

/* COLOR STYLE FOR INFO/FOOTER SECTION ABOVE */


/****** FOOTER SECTION *******/

footer {
     height: 75px;
     background-color: black;
     border: 2px solid black;
}

.footer-text {
     height: 100%;
     width: 98%; 
     margin-left: 1%;
     margin-right: 1%;
     border-top: 1px solid white;
     padding: 20px 0 0 0px; 
     font-size: 14px;
     /* might have to adjust to lower percentage later and add border-top */
     /* border: 1px solid coral; */
}


.footer-text > img {
     padding-right: 5px;
     float: right;
}

