/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
     font-family: 'Roboto', sans-serif;
}

/* ======== CODE BELOW ======== */


/****** HEADER *******/

header {
     height: 75px;
     background: #7189a6;
     font-size: 15px;
     font-weight: 900;
}

.left,
.right {
     height: 100%;
     width: 20%;
     float:left;
     border: 1px solid coral;
}

.left ul {
    list-style: none;
}

.left li {
     color: white;
     padding: 8px;
     float: left;
}

.middle {
     height: 100%;
     width: 60%;
     float: left;
     border: 1px solid coral;
}

.middle img {
     padding-left: 50%;
     padding-right: 50%;
     padding-top: 10px;
}

.right button {
     color: #5f748e;
     padding: 10px;
     border-radius: 5px;
     border-style: none;
}

.right {
     padding-left: 200px;
     padding-top: 15px;
}


/****** HERO MAIN SECTION *******/

.hero-main {
     height: 550px;
     background-color: #7189a6;
     color: white;
     text-align: center;
     padding-top: 150px;
     border: 2px solid black;
}

h1 {
    font-size: 80%;

}




/****** WHY SECTION *******/

.why {
     height: 375px;
     border: 2px solid coral;
}


/****** VISIT SECTION *******/

.visit {
     height: 625px;
     border: 2px solid black;
}

.visitgym,
.visityou {
     height: 100%;
     width: 50%;
     border: 1px solid coral;
     float: left;
}


/****** VOLUNTEER SECTION *******/

.volunteer {
     height: 550px;
     border: 2px solid coral;
}

/****** INFO SECTION *******/

.info {
     height: 200px;
     border: 2px solid black;
}

.nav-left {
     height: 100%;
     width: 18%;
     border: 1px solid coral;
     float: left;
}

.location-right {
     height: 100%;
     width: 18%;
     border: 1px solid coral;
     float: right;
}

/****** FOOTER SECTION *******/

footer {
     height: 75px;
     border: 2px solid black;
}

.footer-text {
     height: 100%;
     width: 100%; /* might have to adjust to lower percentage later and add border-top */
     border: 1px solid coral;

}